<html>
<head>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
	<title>Wall of Tweets 8</title>
	<link href="resources/wallstyle.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" language="JavaScript">
		function likeHandler(tweetID) {
			var target = 'tweet_likes_'+tweetID;
			var uri = 'like?tweetid='+tweetID
			var butid = 'button_'+tweetID;
			var req = new XMLHttpRequest();
			req.open('GET', uri, true);
			req.onreadystatechange = function() {
			    if (req.readyState == 4 && req.status==200) {
			        document.getElementById(target).innerHTML = req.responseText;
			        document.getElementById(butid).disabled = true;
			    }
			};
			req.send(null);
		}
	</script>
</head>
<body class="wallbody">
<div class ="login">

#if (!$loggedUserNAME) 
   <form action = "login" method="post">
		username: #springFormInput('loginForm.login_username' 'size="20"')
		#springShowErrors('' 'errorMsg2') 
		password: #springFormPasswordInput('loginForm.login_password' 'size="20"')
		#springShowErrors('' 'errorMsg2') 
		<input type="submit" name="action" value="login">
	</form>
#else
    <form action = "logout" method="post">
	    logged as <em>$loggedUserNAME</em>
		<input type="submit" name="action" value="logout">
	</form>
#end
</div>
<div class ="heading">
	<h1 class="walltitle">Wall of Tweets 8</h1>
    #if ($loggedUserNAME)
	     </div>
		<div class="wallitem">
			<center>You have published <strong>$deletable</strong> tweets
			#if ($deletable > 0)
			- <a href="delete"><strong>Delete</strong></a> tweets
			#end
			</center>
	        <div class="publish">
				<form action="tweet" method="post">
				#springFormTextarea('tweetForm.tweet_content' 'rows="3" cols="90"')
				#springShowErrors('' 'errorMsg')
				<input type="submit" name="action" value="Tweet!">
			</div>
	</form>
	#else
	    <p><strong><a href="registration">Click Here To Register</a></strong></p>
	#end
</div>

#set( $inDate = $currentDate )

#foreach ($tdto in $wallTweets)

	#if (!($tdto.tweetDate == $inDate))
	    <br><h3>...... $tdto.tweetDate</h3>
	    #set( $inDate = $tdto.tweetDate )
	#end

	<div class="wallitem">
		<div class="likes">
			<span class="numlikes" id='tweet_likes_$tdto.tweetID'>$tdto.likes</span><br/><span class="plt">people like this</span><br/><br/>
			#if ($likedTable && $likedTable.contains($tdto.tweetID))
			<button disabled>like</button><br/>
			#else
			<button id="button_$tdto.tweetID" onclick="likeHandler('$tdto.tweetID')">like</button><br/>
			#end			
		</div>
		<div class="item">
		<h4><em>$tdto.authorName</em> @ $tdto.tweetHour </h4>
		<p>$tdto.content</p>
		</div>
	</div>
#end

</body>
</html>
